.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.card-sprite {
  width: 100%;
}

.card-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3rem;
}
